<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>My Cellar - Administration</title>
	<!-- bootstrap -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
	<link rel="shortcut icon" type="image/png" th:href="@{../favicon.ico}" />
</head>


<body>
	<header th:replace="fragment/common :: header"></header>
	

	<div class="container">

		
		<!-- choix fragment -->
		<div th:if="${showNew}">
			<div th:replace="fragment/vine :: new-vine"></div>
		</div>
		<div th:if="${showList}">
			<div th:replace="fragment/vine :: vine-list"></div>
			
		</div>



	</div>



	<div th:replace="fragment/common :: webjar-footer"></div>
</body>

</body>

</html>